cardbulkdata.json
Deck - Spirits v11/images/Aether Gust.png
Deck - Spirits v11/images/Ascendant Spirit.png
Deck - Spirits v11/images/Cemetery Illuminator.png
Deck - Spirits v11/images/Curious Obsession.png
Deck - Spirits v11/images/Dive Down.png
Deck - Spirits v11/images/Faceless Haven.png
Deck - Spirits v11/images/Fading Hope.png
Deck - Spirits v11/images/Geistlight Snare.png
Deck - Spirits v11/images/Lofty Denial.png
Deck - Spirits v11/images/Mausoleum Wanderer.png
Deck - Spirits v11/images/Mystical Dispute.png
Deck - Spirits v11/images/Otawara, Soaring City.png
Deck - Spirits v11/images/Rattlechains.png
Deck - Spirits v11/images/Shacklegeist.png
Deck - Spirits v11/images/Slip Out the Back.png
Deck - Spirits v11/images/Snow-Covered Island.png
Deck - Spirits v11/images/Spectral Sailor.png
Deck - Spirits v11/images/Spell Pierce.png
Deck - Spirits v11/images/Supreme Phantom.png
Deck - Spirits v11/images/Unlicensed Hearse.png
Deck - Spirits v11/images/Witness Protection.png
Deck - Spirits v11/maindeck.json
Deck - Spirits v11/sideboard.json
__pycache__/api_requests.cpython-39.pyc
